@using XiaoJinDong.Models
@model List<ShangPin>
@{
    ViewBag.Title = "商品信息";
}
<style>
    #lan {
        color: red;
    }

    .jin {
        /*border: 1px solid #0094ff;*/
        margin-top: 20px;
        width: 300px;
        display: inline-block;
        margin-right: 20px;
        margin-left: 10px;
        margin-bottom: 20px;
        padding: 10px;
    }
</style>
<div id="lan ">
    @foreach (ShangPin item in Model)
    {
        <div class="jin">
            <div>
                <img src="~/Image/3.jpg" style="width:220px;height:300px;">
                @*<div>商家：@item.Business</div>
        <div>商品表：@item.ID</div>*@
                <div style="color:red;width:220px;height:22px">￥：@item.CommodityPrice</div>
                @*<div>创建时间：@item.CreationTime</div>
        <div>主图地址:@item.MainMapAddress</div>*@
                @*<div>商品详情:@item.ProductDetails</div>*@
                <div>商品名:@item.TradeName</div>
                @*<div>修改时间:@item.RevisionTime</div>*@
                <div style="color:blue">10万+<div style="color:gray;display:inline-block">条评论</div></div>
                <div style="color:gray">realme真我京东自营</div>
                <div title="京东自营 品质保障" style="color:white;margin-right:3px;padding:0px,3px;border: 1px solid red;width:24px;height:16px;background-color:red;font-size: 12px;">自营</div>
            </div>
          
        </div>
     
    }
</div>